body {
    position: relative;
}


#header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

a {
    color: rgb(192, 9, 216);
    text-decoration: none;
    font-size: 1em;
}

h4 {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

#main {
    margin: auto;
    text-align: center;
}

#quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;/* Add a border */
}

#content {
    display: flex;
    flex-direction: column;
}

#end {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.btn-start, .btn-submit {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(192, 9, 216);
    background-color: rgb(192, 9, 216);
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.btn-start:hover, .btn-submit:hover {
    background-color: rgb(245, 191, 234);
    color: rgba(0, 0, 0, 0.975);
}

.btn-back, .btn-clean {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(192, 9, 216);
    background-color: rgb(192, 9, 216);
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

}

.btn-back:hover, .btn-clean:hover {
    background-color: rgb(245, 191, 234);
    color: rgba(0, 0, 0, 0.975);
}

#answers {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#showScores {
    display: flex;
    flex-direction: column;
    align-items:start;
    background-color: rgb(240, 219, 243);
    border: 2px solid rgb(220, 208, 221); /* Add a border */
    font-size: 1.2em; /* Make the text larger */
    font-family: Arial, sans-serif; /* Change the font */
    padding: 20px 0; /* Add some padding */
    
}

.score-item {
    padding: 10px;
    justify-content: start;
}



p {
    font-size: 1.5em;
}

label {
    font-size: 1.5em;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(192, 9, 216);
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-answer {
    display: flex;
    flex-direction: column;
    align-items:start;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(192, 9, 216);
    background-color: rgb(214, 135, 225);
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.btn-answer:hover {
    background-color: rgb(245, 191, 234);
    color: rgba(0, 0, 0, 0.975);
}

h2 {
    font-size: 2em;
    text-align: center;
}

#result, .done {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: rgb(221, 155, 243);
}




